* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 300;
    text-decoration: none;
    scrollbar-color: #ddac62 #e4caa4;
}

body {
    background-color: #333333;
    color: #e4caa4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100%;
    max-height: auto;
}

h1, h2, li.nav-item {
    font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
    font-weight: 700;
    color: #ddac62;
    
}

h3 {
    font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
    font-weight: 100;    
    color: #ddac62;
}

img, iframe, picture, video {
    display: block;

}

/*
-------------------
HEADER AND SITE NAV
-------------------
*/
div.site-header {
    background-color: black;
}
header{
    display: flex;
    justify-items: center;
    align-items: center;
    padding-left: 3rem;
    padding-right: 3rem;
}

div.site-logo {
    flex-grow: 1;
}

ul.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

li.nav-item {
    list-style: none;
    font-weight: 400;
    letter-spacing: 0.125rem;
    padding: 1.5rem;
}

.this-page {
    background-color: #333333;
}

/*
------------
MAIN CONTENT
------------
*/
main {
    flex: 1;
}
main.my-luxen-hero {
    background-image: url(images/train-platform-ronaldo-santos-1920w.jpg);
    background-attachment: fixed;
    background-size: auto auto;
    background-position: 55% 45%;
    background-repeat: no-repeat;
}

@media (orientation: portrait) {
    main.my-luxen-hero {
        background-attachment: fixed;
        background-size: auto auto;
        background-position: 55% 45%;
        background-repeat: no-repeat;
    }
}

article {
    padding: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

article.my-luxen-hero {
    display: flex;
    flex-direction: column;
    min-height: 70vh;
}

.my-luxen-hero h2 {
    display: none;
}

.my-luxen-hero .flex-sizing {
    flex-grow: 1;
}

.my-luxen-hero h3 {
    font-size: 3rem;
    font-weight: 300;
}